NET "a" LOC = P67 | IOSTANDARD = LVTTL;
NET "b" LOC = P75 | IOSTANDARD = LVTTL;
NET "cin" LOC = P79 | IOSTANDARD = LVTTL;

NET "carry" LOC = P98 | IOSTANDARD = LVTTL;
NET "s" LOC = P100 | IOSTANDARD = LVTTL;